annovar/humandb/hg19_abraom.txt filter=lfs diff=lfs merge=lfs -text
annovar/humandb/hg19_refGeneWithVerMrna.fa filter=lfs diff=lfs merge=lfs -text
annovar/humandb/hg19_refGeneMrna.fa filter=lfs diff=lfs merge=lfs -text
